[SddmGreeterTheme]
Name=Citroën DS Forrest
Description=Citroën DS "Forrest View" SDDM theme for plasma 6
Author=Arjan ten Hoopen [Original: Eliver Lara Modified by Ziednaga]
Copyright= 2016 David Edmundson; (c) 2024, Eliver Lara; (c) 2025, Arjan ten Hoopen
License=GPL 3+
Type=sddm-theme
Version=1.0
Website=https://www.linkedin.com/in/arjantenhoopen/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=arjan.ten.hoopen@gmail.com
Theme-Id=citroends-wood-sddm-plasma-6
Theme-API=2.0
QtVersion=6
